*{
    margin: 0px;
    padding: 0px;
}

#titulo{
    text-align: center;
    padding: 15px;
    border: 1px black solid;
}

.subtitulo{
    padding: 15px;
    margin-right: 450px;
    border: 1px black solid;
}

.texto{
    margin-right: 8px;
    padding: 15px;
}
#parrafo{
    margin : 20px ;
    float: left;
    width: 1100px;

}

img{
    float: right;
    padding: 8px;
    margin: 10px 65px;
    width: 225px;
    border: 1px black solid;
}


.rw-ui-container{
    float: right;
    margin: 15px 120px;
}
