#contenedor{
    padding: 100px;
    margin-top: 100px;
}

h1{
    color: rgb(24, 51, 53);
}
fieldset{
    border: 1px rgb(60, 128, 230) solid;
}

input:hover{
    background-color: rgb(164, 165, 216);
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    background-color: rgb(164, 165, 216);
}

body{
    background-image:  url("/img/fondo.png");
    background-repeat: no-repeat;
    background-position:100%;
}