header{
    background-color: blueviolet;
    height: 80px;
}

nav{
    background-color: cornflowerblue;
    /* width: 20%; */
    height: 80px;
}

section{
    background-color: indigo;
    width: 80%;
}


aside{
    background-color: darkmagenta;
    width: 20%;
}


div{
    background-color: rgb(161, 130, 130);
    height: 70px;
    float: left; 
    padding: 25px 720px;  
    text-align: left;
}


footer{
    clear: left;
    background-color: darkorchid;
    height: 70px;    
}

section,aside{
    float: left;
    height: 400px;
} 