header{
    background-color: blueviolet;
    height: 100px;
}

nav{
    background-color: cornflowerblue;
    width: 20%;
    
}

section{
    background-color: indigo;
    width: 58%;
}

aside{
    background-color: darkmagenta;
    width: 22%;
}

footer{
    clear: left;
    background-color: darkorchid;
    height: 50px;
}

nav,section,aside{
    float: left;
    height: 400px;
}