*{
    padding: 0px;
    margin: 10px;
}


#contenedor{
    background-image:  url("https://mediad.publicbroadcasting.net/p/wcbe/files/styles/x_large/public/202104/oscar_3_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

input{
    color: rgb(190, 164, 90);
}
#titulo{
    color: rgb(121, 72, 72);
}

#formulario01 fieldset legend{
    color:rgb(110, 45, 45);
}